In [1]:
import selenium
import requests
import numpy as np
import pandas as pd
from selenium import webdriver
# from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.common.by import By
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank           

B) Name

C) Artist  

D) Upload date

E) Views

In [2]:
def MostViewed():
    
    Url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
    
    driver = webdriver.Chrome() 
    driver.get(Url) 
    driver.maximize_window() 
    
    details = [] 
    
    for i in driver.find_elements(By.XPATH,"//table [@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td"):
        details.append(i.text)
        
    driver.close() 
    
    details= details[:180] 
    
    Rank = [] 
    Name = [] 
    Artist = [] 
    Views = [] 
    Upload_date = [] 

    z= 0
    while z < len(details): 
        Rank.append(details[z])
        z+=1
        Name.append(details[z])
        z+=1
        Artist.append(details[z])
        z+=1
        Views.append(details[z])
        z+=1
        Upload_date.append(details[z])
        z+=2
    
    table = pd.DataFrame({"Rank" : Rank,
                          "Name" : Name, 
                          "Artist" : Artist,
                          "Upload date" : Upload_date,
                          "Views" : Views
    })        
    
    
    return table

In [3]:
Most_Viewed = MostViewed()
Most_Viewed

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.05
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.93
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.40
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.77
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.59
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.54
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.77
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.65
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.60
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.50
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.24
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.00
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.74
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.63
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.62
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.57
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.48
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.45
19,20.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.32
20,21.,"""Girls Like You""[39]",Maroon 5,"May 31, 2018",3.32
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.32
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.31
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.27
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.25
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.24
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.22
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.21
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.11

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [4]:
Url = 'https://www.bcci.tv/'
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(Url)

In [5]:
button=driver.find_element(By.XPATH,'//span[@class="navigation__search-open-icon"]')
button.click()

In [6]:
INTERNATIONAL = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
INTERNATIONAL.click()

In [7]:
Match_Title = []
Series = []
Place = []
Date = []
Time = []

match_title = driver.find_elements(By.XPATH,"//span[@class='ng-binding']")

for i in match_title:
    try:
        Match_Title.append(i.text)
    except NoSuchElementException:
        Match_Title.append("--")
        
series = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')

for i in series:
    try:
        Series.append(i.text)
    except NoSuchElementException:
        Series.append("--")
        
place=driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")
for i in place:
    if i.text is None:
        Place.append("--")
    else:
        Place.append(i.text)
        
date = driver.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']")
for i in date:
    if i.text is None:
        Date.append("--")
    else:
        Date.append(i.text)
        
time=driver.find_elements(By.XPATH,"//div[@class='match-card-right match-schedule ']")
for i in time:
    if i.text is None:
        Time.append("--")
    else:
        Time.append(i.text)
        
print(len(Match_Title))
print(len(Series))
print(len(Date))
print(len(Time))
print(len(Place))

14
14
14
14
14

In [8]:
Data_2 = pd.DataFrame({'Match_Title':Match_Title,'Series':Series,'Date':Date,'Place':Place,'time':Time})
Data_2

,Match_Title,Series,Date,Place,time
0,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,1st ODI -,18 AUG 2022,"Harare Sports Club,",12:45 PM IST
1,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,2nd ODI -,20 AUG 2022,"Harare Sports Club,",12:45 PM IST
2,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,3rd ODI -,22 AUG 2022,"Harare Sports Club,",12:45 PM IST
3,ASIA CUP 2022,1st T20I -,28 AUG 2022,"Dubai International Cricket Stadium,",7:30 PM IST
4,ASIA CUP 2022,2nd T20I -,31 AUG 2022,"Dubai International Cricket Stadium,",7:30 PM IST
5,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I -,20 SEP 2022,"Punjab Cricket Association IS Bindra Stadium,",7:30 PM IST
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I -,23 SEP 2022,"Vidarbha Cricket Association Stadium,",7:30 PM IST
7,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,3rd T20I -,25 SEP 2022,"Rajiv Gandhi International Stadium,",7:30 PM IST
8,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,1st T20I -,28 SEP 2022,"Greenfield International Stadium,",7:30 PM IST
9,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I -,2 OCT 2022,"Barsapara Cricket Stadium,",7:30 PM IST
10,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I -,4 OCT 2022,"Holkar Cricket Stadium,",7:30 PM IST
11,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,6 OCT 2022,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1:30 PM IST
12,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,9 OCT 2022,"JSCA International Stadium Complex,",1:30 PM IST
13,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,11 OCT 2022,"Arun Jaitley Stadium,",1:30 PM IST

3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [14]:
Url = 'https://www.guru99.com/'
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(Url)

In [15]:
Search = driver.find_element(By.XPATH,'//ul[@id="java_technologies"]/li[3]/a').get_attribute('href')
driver.get(Search)

In [16]:
Input_Search = exc = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').get_attribute('href')
driver.get(Input_Search)

In [17]:
Name=[]
Desc=[]
# fetching exception 
for i in range(2,13):
    # name
    Name_chk = driver.find_element(By.XPATH,'//table[@class="table table-striped"]/tbody/tr[{}]/td[1]'.format(i))
    Name.append(Name_chk.text)
    # description
    Desc_chk = driver.find_element(By.XPATH,'//table[@class="table table-striped"]/tbody/tr[{}]/td[2]'.format(i))
    Desc.append(Desc_chk.text)

In [18]:
Data_3=pd.DataFrame({'Name':Name,'Description':Desc})
Data_3

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com. Url=http://statisticstimes.com/ You have to find following details:

A) Rank 

B) State 

C) GSDP 

D) Share 

E) In GDP 

Note:-From statisticstimes home page you have to reach to economy page through code.

In [32]:
driver = webdriver.Chrome()
driver.maximize_window()
Url = 'http://statisticstimes.com/'
driver.get(Url)

In [33]:
Economy = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
Economy.click()
India = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India.click()

In [34]:
GDP_India_States = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_India_States.click()
time.sleep(2)

In [41]:
Rank = []
State = []
GSDP = []
Share = []
In_GDP = []

for i in range(1,32):
    
    rank = driver.find_element(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[1]'.format(i))
    Rank.append(rank.text)
    
    state = driver.find_element(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[2]'.format(i))
    State.append(state.text)
    
    gsdp = driver.find_element(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[3]'.format(i))
    GSDP.append(gsdp.text)
    
    gdp = driver.find_element(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[6]'.format(i))
    In_GDP.append(gdp.text)
    
    share = driver.find_element(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[5]'.format(i))
    Share.append(share.text)

In [42]:
Data_4 =pd.DataFrame({'Rank':Rank,'State':State,'GSDP(Cr in INR)(19-20)':GSDP,'Share':Share,'Gdp(in_billions)':In_GDP})
Data_4

   Rank              State GSDP(Cr in INR)(19-20)   Share Gdp(in_billions)
0     1        Maharashtra                      -  13.94%          399.921
1     2         Tamil Nadu              1,845,853   8.63%          247.629
2     3      Uttar Pradesh              1,687,818   8.39%          240.726
3     4            Gujarat                      -   7.96%          228.290
4     5          Karnataka              1,631,977   7.91%          226.806
5     6        West Bengal              1,253,832   5.77%          165.556
6     7          Rajasthan              1,020,989   4.99%          143.179
7     8     Andhra Pradesh                972,782   4.57%          131.083
8     9          Telangana                969,604   4.56%          130.791
9    10     Madhya Pradesh                906,672   4.29%          122.977
10   11             Kerala                      -   4.14%          118.733
11   12              Delhi                856,112   4.10%          117.703
12   13            Haryana                831,610   3.89%          111.519
13   14              Bihar                611,804   2.81%           80.562
14   15             Punjab                574,760   2.79%           79.957
15   16             Odisha                521,275   2.58%           74.098
16   17              Assam                      -   1.67%           47.982
17   18       Chhattisgarh                329,180   1.61%           46.187
18   19          Jharkhand                328,598   1.57%           45.145
19   20        Uttarakhand                      -   1.30%           37.351
20   21    Jammu & Kashmir                      -   0.83%           23.690
21   22   Himachal Pradesh                165,472   0.81%           23.369
22   23                Goa                 80,449   0.39%           11.115
23   24            Tripura                 55,984   0.26%            7.571
24   25         Chandigarh                      -   0.22%            6.397
25   26         Puducherry                 38,253   0.18%            5.230
26   27          Meghalaya                 36,572   0.18%            5.086
27   28             Sikkim                 32,496   0.15%            4.363
28   29            Manipur                 31,790   0.15%            4.233
29   30           Nagaland                      -   0.14%            4.144
30   31  Arunachal Pradesh                      -   0.13%            3.737

Q5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [43]:
driver = webdriver.Chrome()
driver.maximize_window()
Url = 'https://github.com/'
driver.get(Url)

In [49]:
try:
    Explore = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
    Explore.click()
except NoSuchElementException :
    print('No Explore Button')
time.sleep(2)

try:
    Trending = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
    Trending.click()
except NoSuchElementException:
    print('No Explore Button')
time.sleep(2)

In [51]:
Title=[]
Description=[]
Language=[]
List=[]
Contributor=[]

#scrapping title 
try:
    title=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
    for i in title:
          Title.append(i.text)
except NoSuchElementException:
          Title.append("-")
  
#scrapping languages
Lists1=[]
lists1=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']//span")
for i in lists1:
    try:
        Lists1.append(i.text.split())
    except NoSuchElementException:
        Lists1.append('-')        

for i in range(1,len(Lists1),2):
        Language.append(Lists1[i])


 #scrapping description
try:
    desc=driver.find_elements(By.XPATH,"//article[@class='Box-row']//p")
    for i in desc:
          Description.append(i.text)
except NoSuchElementException:
          Description.append("--")



#scrapping Number of contributors
try:
    link=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
    for i in link:
          List.append(i.text)
except NoSuchElementException:
          List.append("--")
        
for i in range(0,len(List),2):
    try:
        Contributor.append(List[i])
    except NoSuchElementException:
        Contributor.append("--")

In [53]:
Data_5=pd.DataFrame({'Title':Title[:21],'Description':Description[:21],'Language':Language[:21],'List':List[:21],'Contributors':Contributor[:21]})
Data_5

,Title,Description,Language,List,Contributors
0,toeverything /,There can be more than Notion and Miro. Affine...,[TypeScript],"3,531","3,531"
1,utmapp /,Virtual machines for iOS and macOS,[Swift],119,"14,130"
2,NVIDIAGameWorks /,NVIDIA Kaolin Wisp is a PyTorch library powere...,[Python],"14,130",537
3,microsoft /,The new Windows Terminal and the original Wind...,[C++],877,"84,551"
4,jina-ai /,Create Disco Diffusion artworks in one line,[Python],537,"1,879"
5,martinshkreli /,stock market models - have fun,[Python],43,277
6,facebookresearch /,A framework for training and evaluating AI mod...,[Dart],"84,551","9,162"
7,KalleHallden /,Curated list of public penetration test report...,[CSS],"7,465",106
8,juliocesarfort /,📚 Freely available programming books,[Python],"1,879","5,960"
9,EbookFoundation /,FauxPilot - an open-source GitHub Copilot server,[JavaScript],98,"244,035"
10,moyix /,Lightweight full-featured WhatsApp Web + Multi...,[C],277,"3,743"
11,josejesusguzman /,Open-source keyboard firmware for Atmel AVR an...,[C],33,34
12,adiwajshing /,This project aims to enhance the working envir...,[HTML],"9,162","3,451"
13,qmk /,计算机自学指南,[Python],"1,890","12,995"
14,valinet /,"Implementation of Imagen, Google's Text-to-Ima...",[Python],106,"7,196"
15,PKUFlyingPig /,米游社自动签到，支持：崩坏二、崩坏三、原神、未定事件簿，米游币自动获取,[C],25,"11,379"
16,lucidrains /,A book series on JavaScript. @YDKJS on twitter.,[Python],"5,960","4,520"
17,Womsxd /,Lean's OpenWrt source,[Java],"1,523",800
18,getify /,"A Code Release for Mip-NeRF 360, Ref-NeRF, and...",[C++],"244,035","157,142"
19,coolsnowwolf /,Termux - a terminal emulator application for A...,[Rust],"50,166","22,489"
20,google-research /,Godot Engine – Multi-platform 2D and 3D game e...,[C],"3,743",564

6. Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
driver = webdriver.Chrome()
driver.maximize_window()

In [3]:
Url = "https://www.billboard.com/"
driver.get(Url)

In [4]:
Charts = driver.find_element(By.XPATH,"/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
Charts.click()

In [7]:
Hot=driver.find_element(By.XPATH,"/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a")
Hot.click()

In [17]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

song_name = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/h3[1]')
for i in song_name:
    if i.text is None :
        Song_name.append("--") 
    else:
        Song_name.append(i.text)

time.sleep(3)

artist_name = driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[1]/span")
for i in artist_name:
    if i.text is None:
        Artist_name.append("---")
    else:
        Artist_name.append(i.text)
time.sleep(3)

last_week_rank = driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[4]/span")
for i in last_week_rank:
    if i.text is None:
        Last_week_rank.append("---")
    else:
        Last_week_rank.append(i.text)
time.sleep(3)

peak_rank = driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[5]/span")
for i in peak_rank:
    if i.text is None:
        Peak_rank.append("---")
    else:
        Peak_rank.append(i.text)
time.sleep(3)

weeks_on_board = driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[6]/span")
for i in weeks_on_board:
    if i.text is None:
        Weeks_on_board.append("---")
    else:
        Weeks_on_board.append(i.text)
time.sleep(3)

In [18]:
Data_6=pd.DataFrame({'Song_name': Song_name,
                'Artist_name': Artist_name,
               'Last_week_rank': Last_week_rank,
                'Peak_rank': Peak_rank,
                'Weeks_on_board': Weeks_on_board})
Data_6

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,About Damn Time,Lizzo,1,1,15
1,As It Was,Harry Styles,2,1,17
2,Running Up That Hill (A Deal With God),Kate Bush,3,3,29
3,First Class,Jack Harlow,4,1,16
4,Wait For U,Future Featuring Drake & Tems,5,1,13
...,...,...,...,...,...
95,Te Felicito,Shakira & Rauw Alejandro,95,67,8
96,Are You Entertained,Russ & Ed Sheeran,-,97,1
97,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,-,98,1
98,Right On,Lil Baby,97,13,15
99,La Corriente,Bad Bunny & Tony Dize,99,32,9

Q7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [3]:
driver = webdriver.Chrome()
driver.maximize_window()
Url = 'https://www.naukri.com/data-science-recruiters-in-delhi-ncr'
driver.get(Url)

In [5]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

name = driver.find_elements(By.XPATH,'//p[@class="highlightable"]/a[1]/span')
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

time.sleep(3)        


designation = driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[1]')
for i in designation:
    if i.text is None :
        Designation.append("--") 
    else:
        Designation.append(i.text)
        
time.sleep(3)  


company = driver.find_elements(By.XPATH,'//p[@class="highlightable"]/a[2]')
for i in company:
    if i.text is None :
        Company.append("--") 
    else:
        Company.append(i.text)
        
time.sleep(3)  

skills = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skills:
    if i.text is None :
        Skills.append("--") 
    else:
        Skills.append(i.text)
        
time.sleep(3)  

location = driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[2]')
for i in location:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)
nxt_button=driver.find_elements(By.XPATH,"//button[@class='grayBtn']")

In [6]:
Data_7 = pd.DataFrame({'Name': Name,
                'Designation': Designation,
               'Company': Company,
                'Skills': Skills,
                'Location': Location})
Data_7

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Vasundhara Kaul,Company Recruiter,Bharti Airtel Limited,"Data Analysis, Data Science, Predictive Modeli...",Gurgaon
2,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
3,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
4,Rajni,Team Leader HR Operations,Red Ore Services Pvt Ltd.,"Analytics, Machine Learning, Data Science, Etl...",Delhi
5,Rajpal Tyagi,Managing Director,Gelegenheit Management Private Limited,"Cryptography, Big Data, Data Science, Blockchain",Delhi
6,Urvi Kumar,Talent Recruiter,Augment Systems Pvt Ltd,"Content Writing, research, Software Services, ...",Delhi
7,Sanchit Garg,Strategy Consultant,dDriven Data Sciences &amp; Analytics Pvt....,Not Specified,Gurgaon
8,Mamta rawat,Technical Recruiter,antrix academy of Data Science,Not Specified,Noida
9,Mamta Rawat,Technical Recruiter,Antrix Academy of Data Science,Not Specified,Noida
10,Aneela,Management Head,DataStunt,"Freelance Recruitment, Big Data Analytics, Dat...",Delhi
11,Priyanka Balodi,HR Analyst,KnowDis Data Science LLP,Data Science,Delhi
12,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
13,Animesh Choudhuri,Head Recruitment,Swiftonne Logistics Solutions Pvt. Ltd.,"Data Analytics, Data Science, Python, Advanced...",Gurgaon
14,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
15,Arabinda Das,Head Service Delivery Business Operation,Brainsearch Consulting,"Sap Basis, sap basis consultant, Magento, Word...",Noida
16,Charu Jindal,Assistant Manager,EYGBS (India) Private Limited,"Data Science, finance, analytics, Information ...",Gurgaon
17,Deepak Kumar Tyagi,Recruiter,Success pact IT Consulting,"Ui Development, Front End, Java, Javascript, P...",Noida
18,Rajeev,Founder,SimplyPeople.in,"Human Resource Management, Sales, Marketing, B...",Delhi
19,Kajal Yadav,HR Manager,Zvesta.com,"Backend, Communication Skills, Operations, Tel...",Gurgaon
20,ETEESH RATURI,Founder,ERA MANPOWER CONSULTING,Various Industries,Noida
21,kanika mishra,Corporate Recruiter,Opera Solutions,"Java, Linux, etl, Data Modelling, Data Warehouse",Delhi
22,Pallavi Kashyap,Manager,Nacre,"Big Four, Consulting Firms, Fortune 100 Organi...",Delhi
23,Leafy Creatives Solutions,HR,Leafy Creatives Solutions,"Java, Big Data, Mobile Application Development...",Gurgaon
24,Kusum Gaur,Recruitment Associate,Microsoft Corporation,"Mobile Application Development, Atg Developer,...",Gurgaon
25,neena,Sr Talent Acquisition Specialist,Evolution HR Services Pvt Ltd,"Ruby Rails, mvc, coding, javascript, css, ios,...",Delhi
26,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
27,TSD Corporation,Manager,TSD Corp,"social media marketing, Content Writing, Socia...",Delhi
28,Charu Sethi,Assistant Manager Talent Acquisition,Guavus Network Systems,"Data Scientist, System Testing, Automation Tes...",Gurgaon
29,Rishabh Aggarwal,Lead recruiter,SuccessPact consulting,Startup,Gurgaon
30,Talent Scout,Company HR,Super Highway Labs Private Limited...,Not Specified,Gurgaon
31,Pooja Falwariay,Talent Acquisition Specialist,"OYO Rooms, Oravel Stays Private Limited","sales executive activities, Management Interac...",Gurgaon
32,Shankar maghaiya,HR Manager,Reliance,"Software Development, Java, Coding, Unit Testi...",Delhi
33,Abhishek,Recruiter,EQ Solutions,"Technical Sales, Antivirus",Noida
34,Garima Neb,Sr HR Associate,Fruition Consultants Pvt. Ltd.,TOP NOTCH CLIENTS,Delhi
35,Sneha Singh,HR Manager,Tata Consultancy Services,"Lead Generation, Direct Sales, New Business, C...",Delhi
36,Sakhi Sharma,Senior HR Executive,HCL,"Software Development, Java, Coding, Customer E...",Noida
37,JobGully,Recruitment and Staffing Consultant,JobGully (India),"Java, Core Java, Php, .Net, Asp, Big Data, Con...",Delhi
38,shailendra soni,Recruitment lead,Airtel,"Software Development, Java, Coding, Unit Testi...",Delhi
39,Monika Tyagi,Talent Acquisition Specialist,Red Rock,Manager Level,Delhi
40,Arman,HR &amp; Administration Executive,SharpTech Global,"Big Data, Front End, Backend, Database Adminis...",Delhi
41,Prateek Singh,Associate,Impendi Analytics,"Analytics, Data Analysis, Market Research, Pyt...",Delhi
42,Ritu,Head Customer Success,HR Consulting Firm,"Programmer Software Developer, IT Software Ser...",Noida
43,Jyotsna Ahuja,Company HR,DecisionTree Analytics and Services Private,Not Specified,Gurgaon
44,Mr. Ajit Pratap Singh,Business- Head &amp; Director,Ikon Staffing Solutions Pvt. Ltd.,"Customer Analytics, Data Visualization, Data S...",Delhi
45,Devika,HR Consultant,Mirus Consulting,"Logic Eastern, Kvantum, Venera Technologies",Noida
46,jamal ahmad,Sr Manager HR,FAREPORTAL,"Asp.net, C#, Visual Studio, .net Architecture,...",Gurgaon
47,ESS CEE HR SOLUTIONS,Proprietor,ESS CEE HR SOLUTIONS,Not Specified,Noida
48,Mamta Dutta,Talent Acquisition Specialist,V- Konnect Associates,"sales, Business Development, operations, strategy",Gurgaon
49,Rachita,HR Recruiter,Clearway Advisors,Not Specified,Delhi

Q8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [3]:
driver = webdriver.Chrome()
driver.maximize_window()
URL = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(URL)

In [5]:
Book_name=[]
Author_name=[]
Volume_sold=[]
Publisher=[]
Genre=[]
for i in range(1,101):
    
    book_name = driver.find_element(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr[{}]/td[2]'.format(i))
    Book_name.append(book_name.text)
    
    author_name = driver.find_element(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr[{}]/td[3]'.format(i))
    Author_name.append(author_name.text)
    
    volume_sold = driver.find_element(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr[{}]/td[4]'.format(i))
    Volume_sold.append(volume_sold.text)
    
    publisher = driver.find_element(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr[{}]/td[5]'.format(i))
    Publisher.append(publisher.text)
    
    genre = driver.find_element(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr[{}]/td[6]'.format(i))
    Genre.append(genre.text)

In [6]:
Data_8 = pd.DataFrame({'Book_name': Book_name,
                'Author_name': Author_name,
               'Volume_sold': Volume_sold,
                'Publisher': Publisher,
                'Genre': Genre})
Data_8

,Book_name,Author_name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [2]:
driver = webdriver.Chrome()
driver.maximize_window()
Url = 'https://www.imdb.com/list/ls095964455/'
driver.get(Url)

In [3]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
        
time.sleep(3)  

year_span = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in year_span:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text)
        
time.sleep(3)  

genre = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
for i in genre:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
        
time.sleep(3)  

run_time = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[3]')
for i in run_time:
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)
        
time.sleep(3)  

ratings = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
for i in ratings:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)
        
time.sleep(3)  

votes = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in votes:
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)

In [4]:
Data_9 = pd.DataFrame({'Name': Name,
                'Year_span': Year_span,
               'Genre': Genre,
                'Run_time': Run_time,
                'Ratings': Ratings,
                'Votes':Votes})
Data_9

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,020,928"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,117,040"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"959,592"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,878"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,476"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,263"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,147"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,389"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,802"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"233,284"

Q10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [2]:
driver = webdriver.Chrome()
driver.maximize_window()
Url = 'https://archive.ics.uci.edu/'
driver.get(Url)

In [3]:
search_button=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
search_button.click()
time.sleep(4)

In [4]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

Dataset_name=[]
dataset_name = driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]")
for i in dataset_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)
        

data_type = driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[2]/p')
for i in data_type:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)
        
time.sleep(3)


task = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
for i in task:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(3)  

attribute_type = driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[4]/p')
for i in attribute_type:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)
        
time.sleep(3)  

no_of_instances = driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[5]/p')
for i in no_of_instances: 
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)
        
time.sleep(3)  

no_of_attribute= driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[6]/p')
for i in no_of_attribute:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)
time.sleep(3)

year= driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[7]/p')
for i in year:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)

In [5]:
Data_10 = pd.DataFrame({'Dataset_name':Dataset_name,'Data_type': Data_type, 
               'Task': Task,
                'Attribute_type': Attribute_type,
                'No_of_instances': No_of_instances,
                'No_of_attribute':No_of_attribute,'Year':Year})
                

Data_10

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021